html, body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
}

a {
  color: white;  
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.8;
}

#header {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

#header2 {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.section1 {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.left {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 60px;
  width: 30%;
}

.right {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 200px;
  align-items: flex-end;
}

.introduction {
  margin-top: 100px;
  margin-bottom: 100px;
}

#img1 {
  margin-top: 75px;
  height: 350px;
  width: 650px;
  border-radius: 25px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.cardcontainer {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.card {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  border: 5px solid turquoise;
  border-radius: 25px;
}

.card > h4 {
  align-self: center;
  text-align: center;
  width: 100%;
}

.card-image {
  object-fit: contain;
  border-radius: 20px;
}

.section3 {
  background-color: #e5e7eb;
  display: flex;
}

.quote {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 150px;
  padding-bottom: 150px;
}

#quote-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin: 0;
}

#quote-attribution {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-right: 75px;
}

.section4 {
  background-color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action {
  display: flex;
  width: 1000px;
  background-color: lightblue;
  border: 5px solid turquoise;
  border-radius: 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;  
}

.call-left {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.call-right {
  display: flex;
  align-items: center;
}

#call-title {
  font-size: 22px;
  margin: 0;
  font-weight: bold;
}

#call-text {
  margin: 0;
}

#sign-up-button {
  font-size: 16px;
  flex-shrink: 0;
  background-color: lightblue;
  border: 3px solid white;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 100px;
}